{% extends "base.html.twig" %}

{% block body %}
    <br>
    <div class="container">
        <h3> Ajoutez une annonce : </h3>
        <br>
        {{ form_start(form) }}
        {{ form(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <br>
{% endblock %}